In [1]:
import pandas as pd
import numpy as np
import os

os.path.abspath("")

'/Users/richardguaman/Documents/University Year 3/webServerDataViz'

In [2]:
data = pd.read_csv("realdonaldtrump.csv", encoding='latin1',index_col = False, error_bad_lines=False)
data.head()

,id,link,content,date,retweets,favorites,mentions,hashtags
0,1698308935,https://twitter.com/realDonaldTrump/status/169...,Be sure to tune in and watch Donald Trump on L...,2009-05-04 13:54:25,510,917,NaN,NaN
1,1701461182,https://twitter.com/realDonaldTrump/status/170...,Donald Trump will be appearing on The View tom...,2009-05-04 20:00:10,34,267,NaN,NaN
2,1737479987,https://twitter.com/realDonaldTrump/status/173...,Donald Trump reads Top Ten Financial Tips on L...,2009-05-08 08:38:08,13,19,NaN,NaN
3,1741160716,https://twitter.com/realDonaldTrump/status/174...,New Blog Post: Celebrity Apprentice Finale and...,2009-05-08 15:40:15,11,26,NaN,NaN
4,1773561338,https://twitter.com/realDonaldTrump/status/177...,"""My persona will never be that of a wallflower...",2009-05-12 09:07:28,1375,1945,NaN,NaN

# Checking for null values

In [3]:
data.isnull().sum()

id               0
link             0
content          0
date             0
retweets         0
favorites        0
mentions     22966
hashtags     37769
dtype: int64

In [5]:
data.drop(["link"], axis =1,inplace=True)

In [7]:
#filtering data from 2012 onwards
df = data[(data['date'] > '2012-01-01') & (data['date'] < '2020-12-12')]

# Adding Sentimental analysis

In [8]:
pip install -U textblob

Requirement already up-to-date: textblob in /opt/anaconda3/lib/python3.8/site-packages (0.15.3)
Requirement already satisfied, skipping upgrade: nltk>=3.1 in /opt/anaconda3/lib/python3.8/site-packages (from textblob) (3.5)
Requirement already satisfied, skipping upgrade: tqdm in /opt/anaconda3/lib/python3.8/site-packages (from nltk>=3.1->textblob) (4.50.2)
Requirement already satisfied, skipping upgrade: joblib in /opt/anaconda3/lib/python3.8/site-packages (from nltk>=3.1->textblob) (0.17.0)
Requirement already satisfied, skipping upgrade: click in /opt/anaconda3/lib/python3.8/site-packages (from nltk>=3.1->textblob) (7.1.2)
Requirement already satisfied, skipping upgrade: regex in /opt/anaconda3/lib/python3.8/site-packages (from nltk>=3.1->textblob) (2020.10.15)
Note: you may need to restart the kernel to use updated packages.

In [10]:
#Cleanning up tweet column
df['tidy_tweets'] = df['content'].str.replace('[^a-zA-Z#]+',' ')
df.drop(["content"], axis =1,inplace=True)
df

<ipython-input-10-468fde8fdffe>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tidy_tweets'] = df['content'].str.replace('[^a-zA-Z#]+',' ')
/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,id,date,retweets,favorites,mentions,hashtags,tidy_tweets
1068,154270999859298306,2012-01-03 12:40:47,61,105,@foxandfriends,NaN,My foxandfriends interview discussing the Make...
1069,154279702578728960,2012-01-03 13:15:22,26,6,"@FoxNews,@gretawire,@BarackObama",NaN,My FoxNews interview with gretawire discussing...
1070,154282197371731969,2012-01-03 13:25:16,59,11,@todayshow,NaN,I will be on the todayshow tomorrow morning to...
1071,154284061995696128,2012-01-03 13:32:41,165,58,NaN,#TimeToGetTough,The Democrats solution is the same solution t...
1072,154288899324260352,2012-01-03 13:51:54,84,22,NaN,#TimeToGet,The Wall Street Journal has reported that Oba...
...,...,...,...,...,...,...,...
43347,1273405198698975232,2020-06-17 19:00:32,23402,116377,NaN,NaN,Joe Biden was a TOTAL FAILURE in Government He...
43348,1273408026968457216,2020-06-17 19:11:47,11810,56659,@seanhannity,NaN,Will be interviewed on seanhannity tonight at ...
43349,1273442195161387008,2020-06-17 21:27:33,4959,19344,NaN,NaN,pic twitter com lm spbU X
43350,1273442469066276864,2020-06-17 21:28:38,4627,17022,NaN,NaN,pic twitter com vpCE MadUz
43351,1273442528411385858,2020-06-17 21:28:52,3951,14344,NaN,NaN,pic twitter com VLlc BHW

In [12]:
# after the tweet column has been cleaned we used the tidy_tweet to apply the sentimental analyis
import pandas as pd
from textblob import TextBlob

df['sentiment'] = df.tidy_tweets.apply(lambda x: TextBlob(str(x)).sentiment.polarity)

<ipython-input-12-e3636cfbcf45>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sentiment'] = df.tidy_tweets.apply(lambda x: TextBlob(str(x)).sentiment.polarity)

,id,date,retweets,favorites,mentions,hashtags,tidy_tweets,sentiment
1068,154270999859298306,2012-01-03 12:40:47,61,105,@foxandfriends,NaN,My foxandfriends interview discussing the Make...,0.800000
1069,154279702578728960,2012-01-03 13:15:22,26,6,"@FoxNews,@gretawire,@BarackObama",NaN,My FoxNews interview with gretawire discussing...,0.400000
1070,154282197371731969,2012-01-03 13:25:16,59,11,@todayshow,NaN,I will be on the todayshow tomorrow morning to...,0.062500
1071,154284061995696128,2012-01-03 13:32:41,165,58,NaN,#TimeToGetTough,The Democrats solution is the same solution t...,0.000000
1072,154288899324260352,2012-01-03 13:51:54,84,22,NaN,#TimeToGet,The Wall Street Journal has reported that Oba...,-0.194444
...,...,...,...,...,...,...,...,...
43347,1273405198698975232,2020-06-17 19:00:32,23402,116377,NaN,NaN,Joe Biden was a TOTAL FAILURE in Government He...,-0.158333
43348,1273408026968457216,2020-06-17 19:11:47,11810,56659,@seanhannity,NaN,Will be interviewed on seanhannity tonight at ...,0.400000
43349,1273442195161387008,2020-06-17 21:27:33,4959,19344,NaN,NaN,pic twitter com lm spbU X,0.000000
43350,1273442469066276864,2020-06-17 21:28:38,4627,17022,NaN,NaN,pic twitter com vpCE MadUz,0.000000
43351,1273442528411385858,2020-06-17 21:28:52,3951,14344,NaN,NaN,pic twitter com VLlc BHW,0.000000

### Transforming sentimental column

In [14]:
def applyFunc(s):
    if s >= 0.1:
        return 'Positive'
    elif s <= -0.1:
        return 'Negative'
    return 'Neutral'

df['Overall_sentimental'] = df['sentiment'].apply(applyFunc)
df

<ipython-input-14-9261c7461308>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Overall_sentimental'] = df['sentiment'].apply(applyFunc)

,id,date,retweets,favorites,mentions,hashtags,tidy_tweets,sentiment,Overall_sentimental
1068,154270999859298306,2012-01-03 12:40:47,61,105,@foxandfriends,NaN,My foxandfriends interview discussing the Make...,0.800000,Positive
1069,154279702578728960,2012-01-03 13:15:22,26,6,"@FoxNews,@gretawire,@BarackObama",NaN,My FoxNews interview with gretawire discussing...,0.400000,Positive
1070,154282197371731969,2012-01-03 13:25:16,59,11,@todayshow,NaN,I will be on the todayshow tomorrow morning to...,0.062500,Neutral
1071,154284061995696128,2012-01-03 13:32:41,165,58,NaN,#TimeToGetTough,The Democrats solution is the same solution t...,0.000000,Neutral
1072,154288899324260352,2012-01-03 13:51:54,84,22,NaN,#TimeToGet,The Wall Street Journal has reported that Oba...,-0.194444,Negative
...,...,...,...,...,...,...,...,...,...
43347,1273405198698975232,2020-06-17 19:00:32,23402,116377,NaN,NaN,Joe Biden was a TOTAL FAILURE in Government He...,-0.158333,Negative
43348,1273408026968457216,2020-06-17 19:11:47,11810,56659,@seanhannity,NaN,Will be interviewed on seanhannity tonight at ...,0.400000,Positive
43349,1273442195161387008,2020-06-17 21:27:33,4959,19344,NaN,NaN,pic twitter com lm spbU X,0.000000,Neutral
43350,1273442469066276864,2020-06-17 21:28:38,4627,17022,NaN,NaN,pic twitter com vpCE MadUz,0.000000,Neutral
43351,1273442528411385858,2020-06-17 21:28:52,3951,14344,NaN,NaN,pic twitter com VLlc BHW,0.000000,Neutral

### Creating Day of the week and time colums

In [16]:
df['date'] = pd.to_datetime(df['date'])

df['day_of_week'] = df['date'].dt.day_name()
df(head)

<ipython-input-16-9ea985517d32>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = pd.to_datetime(df['date'])
<ipython-input-16-9ea985517d32>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['day_of_week'] = df['date'].dt.day_name()

,id,date,retweets,favorites,mentions,hashtags,tidy_tweets,sentiment,Overall_sentimental,day_of_week
1068,154270999859298306,2012-01-03 12:40:47,61,105,@foxandfriends,NaN,My foxandfriends interview discussing the Make...,0.800000,Positive,Tuesday
1069,154279702578728960,2012-01-03 13:15:22,26,6,"@FoxNews,@gretawire,@BarackObama",NaN,My FoxNews interview with gretawire discussing...,0.400000,Positive,Tuesday
1070,154282197371731969,2012-01-03 13:25:16,59,11,@todayshow,NaN,I will be on the todayshow tomorrow morning to...,0.062500,Neutral,Tuesday
1071,154284061995696128,2012-01-03 13:32:41,165,58,NaN,#TimeToGetTough,The Democrats solution is the same solution t...,0.000000,Neutral,Tuesday
1072,154288899324260352,2012-01-03 13:51:54,84,22,NaN,#TimeToGet,The Wall Street Journal has reported that Oba...,-0.194444,Negative,Tuesday
...,...,...,...,...,...,...,...,...,...,...
43347,1273405198698975232,2020-06-17 19:00:32,23402,116377,NaN,NaN,Joe Biden was a TOTAL FAILURE in Government He...,-0.158333,Negative,Wednesday
43348,1273408026968457216,2020-06-17 19:11:47,11810,56659,@seanhannity,NaN,Will be interviewed on seanhannity tonight at ...,0.400000,Positive,Wednesday
43349,1273442195161387008,2020-06-17 21:27:33,4959,19344,NaN,NaN,pic twitter com lm spbU X,0.000000,Neutral,Wednesday
43350,1273442469066276864,2020-06-17 21:28:38,4627,17022,NaN,NaN,pic twitter com vpCE MadUz,0.000000,Neutral,Wednesday
43351,1273442528411385858,2020-06-17 21:28:52,3951,14344,NaN,NaN,pic twitter com VLlc BHW,0.000000,Neutral,Wednesday

In [18]:
df['date_only'] = df['date'].dt.date

<ipython-input-18-6feddefe02a8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date_only'] = df['date'].dt.date

In [21]:
import datetime
# extracting time from timestamp
df['Time'] = [datetime.datetime.time(d) for d in df['date']]

<ipython-input-21-6ce8a0d1fcf6>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Time'] = [datetime.datetime.time(d) for d in df['date']]

In [23]:
# after extracting time and day_of_week from timestamp I drop created_at
df.drop(["date"], axis =1,inplace=True)
df.head(10)

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,id,retweets,favorites,mentions,hashtags,tidy_tweets,sentiment,Overall_sentimental,day_of_week,date_only,Time
1068,154270999859298306,61,105,@foxandfriends,NaN,My foxandfriends interview discussing the Make...,0.800000,Positive,Tuesday,2012-01-03,12:40:47
1069,154279702578728960,26,6,"@FoxNews,@gretawire,@BarackObama",NaN,My FoxNews interview with gretawire discussing...,0.400000,Positive,Tuesday,2012-01-03,13:15:22
1070,154282197371731969,59,11,@todayshow,NaN,I will be on the todayshow tomorrow morning to...,0.062500,Neutral,Tuesday,2012-01-03,13:25:16
1071,154284061995696128,165,58,NaN,#TimeToGetTough,The Democrats solution is the same solution t...,0.000000,Neutral,Tuesday,2012-01-03,13:32:41
1072,154288899324260352,84,22,NaN,#TimeToGet,The Wall Street Journal has reported that Oba...,-0.194444,Negative,Tuesday,2012-01-03,13:51:54
1073,154292871447592960,185,111,NaN,#TimeToGetTough,To have a government we can afford we need to...,0.066667,Neutral,Tuesday,2012-01-03,14:07:41
1074,154299303211446272,165,21,NaN,NaN,Michele Bachmann will finish dead last tonight...,-0.425000,Negative,Tuesday,2012-01-03,14:33:15
1075,154307712732246016,75,9,@SarahPalinUSA,NaN,A good friend SarahPalinUSA More importantly s...,0.483333,Positive,Tuesday,2012-01-03,15:06:40
1076,154311174983393282,43,6,@JonHuntsman,NaN,He knows he won t have to spend much JonHuntsm...,0.200000,Positive,Tuesday,2012-01-03,15:20:25
1077,154314140985475072,87,58,NaN,NaN,I am honored that Texas supporters have filed ...,0.800000,Positive,Tuesday,2012-01-03,15:32:12

In [73]:
df.to_csv('DonaldTrump_Clean.csv',index=False)

## Creating a summary table by date and mean sentimental

In [33]:
new_df = df.filter(['sentiment','date_only'], axis=1)

In [35]:
new_df['date_only'] = pd.to_datetime(new_df['date_only'])

In [36]:
date_only = new_df.set_index('date_only')
date_only

            sentiment
date_only
2012-01-03   0.800000
2012-01-03   0.400000
2012-01-03   0.062500
2012-01-03   0.000000
2012-01-03  -0.194444
...               ...
2020-06-17  -0.158333
2020-06-17   0.400000
2020-06-17   0.000000
2020-06-17   0.000000
2020-06-17   0.000000

[42284 rows x 1 columns]

In [37]:
#Monthly summary table with mean sentimental column - freq = M = Monthly check documentation for more info
monthly_df = date_only.groupby(pd.Grouper(freq='M', level='date_only')).mean()

In [38]:
#reseting index to default - RUN TIHS ONLY ONCE as it creates new index and level_o every time 
monthly_df.reset_index(level=0, inplace=True)

In [40]:
monthly_df.to_csv('DonaldTrump_Monthly_summary.csv',index=False)
monthly_df

     date_only  sentiment
0   2012-01-31   0.131441
1   2012-02-29   0.092752
2   2012-03-31   0.130442
3   2012-04-30   0.177825
4   2012-05-31   0.135623
..         ...        ...
97  2020-02-29   0.142819
98  2020-03-31   0.148559
99  2020-04-30   0.123851
100 2020-05-31   0.108409
101 2020-06-30   0.152783

[102 rows x 2 columns]

### Daily summary table

In [41]:
#Dainly summary table with mean sentimental column
daily_df = date_only.groupby(pd.Grouper(freq='1d', level='date_only')).mean()

In [42]:
# Resetting index
daily_df.reset_index(level=0, inplace=True)

In [43]:
daily_df.to_csv('DonaldTrump_Daily_summary.csv',index=False)
daily_df

      date_only  sentiment
0    2012-01-03   0.182755
1    2012-01-04   0.265741
2    2012-01-05   0.019877
3    2012-01-06   0.226786
4    2012-01-07        NaN
...         ...        ...
3084 2020-06-13   0.224298
3085 2020-06-14  -0.022766
3086 2020-06-15   0.087037
3087 2020-06-16   0.210157
3088 2020-06-17   0.048333

[3089 rows x 2 columns]

In [71]:
# after extracting time and day_of_week from timestamp I drop created_at
data.drop(["tidy_tweets"], axis =1,inplace=True)

KeyError: "['tidy_tweets'] not found in axis"