In [1]:
import pandas as pd
import numpy as np
import os

os.path.abspath("")

'/Users/richardguaman/Documents/University Year 3/webServerDataViz'

In [2]:
data = pd.read_csv("JoeBidenTweets.csv", encoding='latin1',index_col = False, error_bad_lines=False)
data.head()

,id,timestamp,url,tweet,replies,retweets,quotes,likes
0,361388562,2007-10-24 22:45,https://twitter.com/JoeBiden/status/361388562,Tune in 11:30 ET tomorrow for a live webcast o...,19,5,17,11
1,543984392,2007-12-29 15:35,https://twitter.com/JoeBiden/status/543984392,"Iowans, there's a good chance there's a Biden ...",13,16,6,22
2,189287227321356289,2012-04-09 09:42,https://twitter.com/JoeBiden/status/1892872273...,We're excited to announce that @JoeBiden is be...,21,82,1,20
3,189287350034104320,2012-04-09 09:43,https://twitter.com/JoeBiden/status/1892873500...,Campaign staff will run this account to keep y...,144,76,37,51
4,189339650610036736,2012-04-09 13:11,https://twitter.com/JoeBiden/status/1893396506...,News for you this morning: VP Biden will speak...,10,54,0,5

# Checking for null values

In [3]:
data.isnull().sum()

id           0
timestamp    0
url          0
tweet        0
replies      0
retweets     0
quotes       0
likes        0
dtype: int64

In [4]:
data.drop(["url"], axis =1,inplace=True)

# Adding Sentimental analysis

In [5]:
pip install -U textblob

Requirement already up-to-date: textblob in /opt/anaconda3/lib/python3.8/site-packages (0.15.3)
Requirement already satisfied, skipping upgrade: nltk>=3.1 in /opt/anaconda3/lib/python3.8/site-packages (from textblob) (3.5)
Requirement already satisfied, skipping upgrade: click in /opt/anaconda3/lib/python3.8/site-packages (from nltk>=3.1->textblob) (7.1.2)
Requirement already satisfied, skipping upgrade: regex in /opt/anaconda3/lib/python3.8/site-packages (from nltk>=3.1->textblob) (2020.10.15)
Requirement already satisfied, skipping upgrade: joblib in /opt/anaconda3/lib/python3.8/site-packages (from nltk>=3.1->textblob) (0.17.0)
Requirement already satisfied, skipping upgrade: tqdm in /opt/anaconda3/lib/python3.8/site-packages (from nltk>=3.1->textblob) (4.50.2)
Note: you may need to restart the kernel to use updated packages.

In [6]:
#Cleanning up tweet column
data['tidy_tweets'] = data['tweet'].str.replace('[^a-zA-Z#]+',' ')
data.drop(["tweet"], axis =1,inplace=True)
data

,id,timestamp,replies,retweets,quotes,likes,tidy_tweets
0,361388562,2007-10-24 22:45,19,5,17,11,Tune in ET tomorrow for a live webcast of Fami...
1,543984392,2007-12-29 15:35,13,16,6,22,Iowans there s a good chance there s a Biden n...
2,189287227321356289,2012-04-09 09:42,21,82,1,20,We re excited to announce that JoeBiden is bei...
3,189287350034104320,2012-04-09 09:43,144,76,37,51,Campaign staff will run this account to keep y...
4,189339650610036736,2012-04-09 13:11,10,54,0,5,News for you this morning VP Biden will speak ...
...,...,...,...,...,...,...,...
6059,1322865972819251200,2020-11-01 11:40,3085,3654,480,36995,As president I ll build an economy that reward...
6060,1322871257902145536,2020-11-01 12:01,2211,4211,1246,34240,Let s put dogs back in the White House https t...
6061,1322876039144636417,2020-11-01 12:20,918,1143,122,6954,We have in our hands the ultimate power the po...
6062,1322881072363917312,2020-11-01 12:40,1281,2255,344,16696,We need to Build bridges not walls Open our ar...
6063,1322886357535150081,2020-11-01 13:01,168,270,37,1648,Jodie you have my word I will always stand up ...

In [7]:
# after the tweet column has been cleaned we used the tidy_tweet to apply the sentimental analyis
import pandas as pd
from textblob import TextBlob

data['sentiment'] = data.tidy_tweets.apply(lambda x: TextBlob(str(x)).sentiment.polarity)
data

,id,timestamp,replies,retweets,quotes,likes,tidy_tweets,sentiment
0,361388562,2007-10-24 22:45,19,5,17,11,Tune in ET tomorrow for a live webcast of Fami...,0.136364
1,543984392,2007-12-29 15:35,13,16,6,22,Iowans there s a good chance there s a Biden n...,0.383333
2,189287227321356289,2012-04-09 09:42,21,82,1,20,We re excited to announce that JoeBiden is bei...,0.375000
3,189287350034104320,2012-04-09 09:43,144,76,37,51,Campaign staff will run this account to keep y...,0.000000
4,189339650610036736,2012-04-09 13:11,10,54,0,5,News for you this morning VP Biden will speak ...,0.000000
...,...,...,...,...,...,...,...,...
6059,1322865972819251200,2020-11-01 11:40,3085,3654,480,36995,As president I ll build an economy that reward...,0.000000
6060,1322871257902145536,2020-11-01 12:01,2211,4211,1246,34240,Let s put dogs back in the White House https t...,0.000000
6061,1322876039144636417,2020-11-01 12:20,918,1143,122,6954,We have in our hands the ultimate power the po...,-0.100000
6062,1322881072363917312,2020-11-01 12:40,1281,2255,344,16696,We need to Build bridges not walls Open our ar...,0.291667
6063,1322886357535150081,2020-11-01 13:01,168,270,37,1648,Jodie you have my word I will always stand up ...,0.000000

### Transforming sentimental column

In [8]:
def applyFunc(s):
    if s >= 0.1:
        return 'Positive'
    elif s <= -0.1:
        return 'Negative'
    return 'Neutral'

data['Overall_sentimental'] = data['sentiment'].apply(applyFunc)
data

,id,timestamp,replies,retweets,quotes,likes,tidy_tweets,sentiment,Overall_sentimental
0,361388562,2007-10-24 22:45,19,5,17,11,Tune in ET tomorrow for a live webcast of Fami...,0.136364,Positive
1,543984392,2007-12-29 15:35,13,16,6,22,Iowans there s a good chance there s a Biden n...,0.383333,Positive
2,189287227321356289,2012-04-09 09:42,21,82,1,20,We re excited to announce that JoeBiden is bei...,0.375000,Positive
3,189287350034104320,2012-04-09 09:43,144,76,37,51,Campaign staff will run this account to keep y...,0.000000,Neutral
4,189339650610036736,2012-04-09 13:11,10,54,0,5,News for you this morning VP Biden will speak ...,0.000000,Neutral
...,...,...,...,...,...,...,...,...,...
6059,1322865972819251200,2020-11-01 11:40,3085,3654,480,36995,As president I ll build an economy that reward...,0.000000,Neutral
6060,1322871257902145536,2020-11-01 12:01,2211,4211,1246,34240,Let s put dogs back in the White House https t...,0.000000,Neutral
6061,1322876039144636417,2020-11-01 12:20,918,1143,122,6954,We have in our hands the ultimate power the po...,-0.100000,Negative
6062,1322881072363917312,2020-11-01 12:40,1281,2255,344,16696,We need to Build bridges not walls Open our ar...,0.291667,Positive
6063,1322886357535150081,2020-11-01 13:01,168,270,37,1648,Jodie you have my word I will always stand up ...,0.000000,Neutral

### Creating Day of the week and time colums

In [9]:
data['timestamp'] = pd.to_datetime(data['timestamp'])

data['day_of_week'] = data['timestamp'].dt.day_name()
data

,id,timestamp,replies,retweets,quotes,likes,tidy_tweets,sentiment,Overall_sentimental,day_of_week
0,361388562,2007-10-24 22:45:00,19,5,17,11,Tune in ET tomorrow for a live webcast of Fami...,0.136364,Positive,Wednesday
1,543984392,2007-12-29 15:35:00,13,16,6,22,Iowans there s a good chance there s a Biden n...,0.383333,Positive,Saturday
2,189287227321356289,2012-04-09 09:42:00,21,82,1,20,We re excited to announce that JoeBiden is bei...,0.375000,Positive,Monday
3,189287350034104320,2012-04-09 09:43:00,144,76,37,51,Campaign staff will run this account to keep y...,0.000000,Neutral,Monday
4,189339650610036736,2012-04-09 13:11:00,10,54,0,5,News for you this morning VP Biden will speak ...,0.000000,Neutral,Monday
...,...,...,...,...,...,...,...,...,...,...
6059,1322865972819251200,2020-11-01 11:40:00,3085,3654,480,36995,As president I ll build an economy that reward...,0.000000,Neutral,Sunday
6060,1322871257902145536,2020-11-01 12:01:00,2211,4211,1246,34240,Let s put dogs back in the White House https t...,0.000000,Neutral,Sunday
6061,1322876039144636417,2020-11-01 12:20:00,918,1143,122,6954,We have in our hands the ultimate power the po...,-0.100000,Negative,Sunday
6062,1322881072363917312,2020-11-01 12:40:00,1281,2255,344,16696,We need to Build bridges not walls Open our ar...,0.291667,Positive,Sunday
6063,1322886357535150081,2020-11-01 13:01:00,168,270,37,1648,Jodie you have my word I will always stand up ...,0.000000,Neutral,Sunday

In [11]:
data['date_only'] = data['timestamp'].dt.date

In [13]:
import datetime
# extracting time from timestamp
data['Time'] = [datetime.datetime.time(d) for d in data['timestamp']]

In [16]:
# after extracting time and day_of_week from timestamp I drop created_at
data.drop(["timestamp"], axis =1,inplace=True)
data.head(10)

,id,replies,retweets,quotes,likes,tidy_tweets,sentiment,Overall_sentimental,day_of_week,date_only,Time
0,361388562,19,5,17,11,Tune in ET tomorrow for a live webcast of Fami...,0.136364,Positive,Wednesday,2007-10-24,22:45:00
1,543984392,13,16,6,22,Iowans there s a good chance there s a Biden n...,0.383333,Positive,Saturday,2007-12-29,15:35:00
2,189287227321356289,21,82,1,20,We re excited to announce that JoeBiden is bei...,0.375000,Positive,Monday,2012-04-09,09:42:00
3,189287350034104320,144,76,37,51,Campaign staff will run this account to keep y...,0.000000,Neutral,Monday,2012-04-09,09:43:00
4,189339650610036736,10,54,0,5,News for you this morning VP Biden will speak ...,0.000000,Neutral,Monday,2012-04-09,13:11:00
5,189343279140184065,16,52,0,6,In NH on the Vice President will give his take...,0.000000,Neutral,Monday,2012-04-09,13:25:00
6,189383473717460992,114,471,0,51,I m for the Buffett Rule because it just makes...,0.000000,Neutral,Monday,2012-04-09,16:05:00
7,189456416917032960,13,29,0,12,During a recent campaign stop in Ohio VP Biden...,0.050000,Neutral,Monday,2012-04-09,20:55:00
8,189712253187145728,21,217,1,137,Favorite Joe photos volume http t co Xt pSrGc,0.500000,Positive,Tuesday,2012-04-10,13:51:00
9,189742771387637760,8,21,0,5,The VP will be speaking in NH on Thursday abou...,0.000000,Neutral,Tuesday,2012-04-10,15:52:00

In [22]:
data.dtypes

id                       int64
replies                  int64
retweets                 int64
quotes                   int64
likes                    int64
tidy_tweets             object
sentiment              float64
Overall_sentimental     object
day_of_week             object
date_only               object
Time                    object
dtype: object

## Creating a summary table by date and mean sentimental

In [67]:
new_df = data.filter(['sentiment','date_only'], axis=1)
new_df

      sentiment   date_only
0      0.136364  2007-10-24
1      0.383333  2007-12-29
2      0.375000  2012-04-09
3      0.000000  2012-04-09
4      0.000000  2012-04-09
...         ...         ...
6059   0.000000  2020-11-01
6060   0.000000  2020-11-01
6061  -0.100000  2020-11-01
6062   0.291667  2020-11-01
6063   0.000000  2020-11-01

[6064 rows x 2 columns]

KeyError: 'date_only'

In [68]:
new_df['date_only'] = pd.to_datetime(new_df['date_only'])
date_only = new_df.set_index('date_only')

In [88]:
#Monthly summary table with mean sentimental column
monthly_df = date_only.groupby(pd.Grouper(freq='M', level='date_only')).mean()

            sentiment
date_only
2007-10-31   0.136364
2007-11-30        NaN
2007-12-31   0.383333
2008-01-31        NaN
2008-02-29        NaN
...               ...
2020-07-31   0.098479
2020-08-31   0.126063
2020-09-30   0.121520
2020-10-31   0.114298
2020-11-30   0.074997

[158 rows x 1 columns]

In [94]:
#reseting index to default - RUN TIHS ONLY ONCE as it creates new index and level_o every time 
monthly_df.reset_index(level=0, inplace=True)

In [107]:
#filtering data from 2012 onwards
monthly_dataframe = monthly_df[(monthly_df['date_only'] > '2012-01-01') & (monthly_df['date_only'] < '2020-12-12')]

In [108]:
monthly_dataframe.to_csv('JoeBiden_Monthly_summary.csv',index=False)
monthly_dataframe

     date_only  sentiment
51  2012-01-31        NaN
52  2012-02-29        NaN
53  2012-03-31        NaN
54  2012-04-30   0.134244
55  2012-05-31   0.116042
..         ...        ...
153 2020-07-31   0.098479
154 2020-08-31   0.126063
155 2020-09-30   0.121520
156 2020-10-31   0.114298
157 2020-11-30   0.074997

[107 rows x 2 columns]

### Daily summary table

In [81]:
#Dainly summary table with mean sentimental column
daily_df = date_only.groupby(pd.Grouper(freq='1d', level='date_only')).mean()

            sentiment
date_only
2007-10-24   0.136364
2007-10-25        NaN
2007-10-26        NaN
2007-10-27        NaN
2007-10-28        NaN
...               ...
2020-10-28   0.093219
2020-10-29   0.128608
2020-10-30   0.098886
2020-10-31   0.145417
2020-11-01   0.074997

[4758 rows x 1 columns]

In [115]:
#filtering data from 2012 onwards - move this to the beggining
daily_df.reset_index(level=0, inplace=True)
daily_dataFrame = daily_df[(daily_df['date_only'] > '2012-01-01') & (daily_df['date_only'] < '2020-12-12')]

In [118]:
daily_dataFrame.to_csv('JoeBiden_Daily_summary.csv',index=False)
daily_dataFrame

      date_only  sentiment
1531 2012-01-02        NaN
1532 2012-01-03        NaN
1533 2012-01-04        NaN
1534 2012-01-05        NaN
1535 2012-01-06        NaN
...         ...        ...
4753 2020-10-28   0.093219
4754 2020-10-29   0.128608
4755 2020-10-30   0.098886
4756 2020-10-31   0.145417
4757 2020-11-01   0.074997

[3227 rows x 2 columns]

In [74]:
daily_df.to_csv('JoeBiden_sentimental_tweets.csv',index=False)

In [71]:
# after extracting time and day_of_week from timestamp I drop created_at
data.drop(["tidy_tweets"], axis =1,inplace=True)

KeyError: "['tidy_tweets'] not found in axis"

In [72]:
data

,id,retweets,favorites,mentions,hashtags\r,sentiment,day_of_week,date_only,Time
0,1698308935,510,917,NaN,\r,0.175000,Monday,2009-05-04,13:54:25
1,1701461182,34,267,NaN,\r,0.136364,Monday,2009-05-04,20:00:10
2,1737479987,13,19,NaN,\r,0.105000,Friday,2009-05-08,08:38:08
3,1741160716,11,26,NaN,\r,0.136364,Friday,2009-05-08,15:40:15
4,1773561338,1375,1945,NaN,\r,0.000000,Tuesday,2009-05-12,09:07:28
...,...,...,...,...,...,...,...,...,...
43347,1273405198698975232,23402,116377,NaN,\r,-0.158333,Wednesday,2020-06-17,19:00:32
43348,1273408026968457216,11810,56659,@seanhannity,\r,0.400000,Wednesday,2020-06-17,19:11:47
43349,1273442195161387008,4959,19344,NaN,\r,0.000000,Wednesday,2020-06-17,21:27:33
43350,1273442469066276864,4627,17022,NaN,\r,0.000000,Wednesday,2020-06-17,21:28:38
43351,1273442528411385858,3951,14344,NaN,\r,0.000000,Wednesday,2020-06-17,21:28:52

In [73]:
data.to_csv('DonaldTrump_Clean_NO_tweets.csv',index=False)